.app-challenges {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #EDEDED;
    animation: slide-in 0.25s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
  
.slide-button1 {
}

.nav-challenges {
  width: 1100px;
}

.middle-challenges {
  width: 100%;
  transform: translateY(50px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}




.middle-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.down-arrow{
  margin-right: 20px;
}
.slide-button-challenges{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bottom-challenges {
}

@media screen and (max-width:1150px) {

  .nav-challenges{
    margin-bottom: 0px;
    transform: translateY(840px);
    width: 80%;
    z-index: 1;
  }
  .challenges-plans{
    overflow-x: hidden;
    transform: translateY(0px);
  }
  .log-challenges{
    transform: translateY(0px);

    margin-bottom: 0px;

  }
  .middle-challenges{
    margin-top: 1000px;
    margin-bottom: 0px;
    transform: translateY(0px);
    flex-direction: column;
    }

    .challenges-plans-scrolling-list-line{
      transform: translateX(30px);
      width: 220%;
    }
    .challenges-plans{
      width: 220%;
      margin-top: 100px;
      margin-bottom: 70px;
      transform: translateX(0px);

    }

    .challenges-plans-scrolling-list{
      width: 100%;
    }
    .challenges-plans-scrolling-list-item{
      transform: translateX(30px);
      width: 230%;
    }
    .bottom-challenges{
      transform: translateY(400px);
    }
    .bottom-chall{
      margin-top: -80px;
      width: 90%;
      margin-left: 20px;
    }
    .challenges-plans-scrolling-list-scroll{
      transform: translateX(30px);
    }
  }
