.app-dashboard {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
    animation: slide-in 0.25s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
  
.slide-button1 {
}

.nav-dashboard {
  width: 1100px;
}

.middle-dashboard {
  width: 100%;
  transform: translateY(50px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}




.middle-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.training-plans {
  width: 506px;
  height: 427px;
  background: #FFFFFF;
  box-shadow: 10px 40px 98px rgba(0, 0, 0, 0.3);
  border-radius: 57px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.training-plans-text {
  /* P text bold */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  /* identical to box height, or 36px */


  color: #000000;  
}

.training-plans-buttons{
  transform: translateY(-25px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.training-plans-button{
  margin-left: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
  width: 300px;
  height: 46px;

  /* P text */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  /* identical to box height, or 36px */


  color: #000000;
}


.training-plans-scrolling-list {
  width: 506px;
  height: 256px;
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 49px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.training-plan-text{
  margin: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 180%;
  /* or 25px */
  color: #5A5A5A;  
}
.training-plans-scrolling-list-item{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;  
  width: 410px;
  height: 84px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.training-plans-scrolling-list-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.training-plans-scrolling-list-line{
  width: 412.81px;
  height: 1.96px;
  background: rgba(102, 102, 102, 0.25);
  border-radius: 66px;
  transform: rotate(0.02deg);  
  margin: 15px;
}
.training-plans-scrolling-list-scroll {
  width: 11.06px;
  height: 197.79px;
  background: #FFFFFF;
border-radius: 66px;
transform: rotate(0.02deg);
}


.training-plan-enlarged {
  position: absolute;
  top: 255px;
  right: 220px;
  width: auto;
  height: auto;
  box-shadow: 10px 40px 98px rgba(0, 0, 0, 0.3);
  border-radius: 49px;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.training-plan-enlarged2{
  position: absolute;
  top: 370px;
  right: 220px;
  width: auto;
  height: auto;
  box-shadow: 10px 40px 98px rgba(0, 0, 0, 0.3);
  border-radius: 49px;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.training-plan-group{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.training-plan-enlarged-text {
  margin: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  
  
  color: #5A5A5A;  
}





.most-popular {
  transform: translateY(25px);
  width: 367px;
  height: 319px;
  /* Black & White/White */

  background: #FFFFFF;
  /* shadow1 */

  box-shadow: 10px 40px 98px rgba(0, 0, 0, 0.3);
  border-radius: 57px;
}
.most-popular-text{
  /* P text */
  margin-left: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  /* or 36px */


  color: #000000;  
}

.most-popular-item {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.most-popular-item-text{
  transform: translateX(-65px);
}
.most-popular-item-name{
  /* P text */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  /* identical to box height, or 36px */


  color: #000000;  
}

.most-popular-item-subname{
  transform: translateY(-20px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  
  
  color: #5A5A5A;  
}

.slide-button-dashboard{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bottom-dashboard {
  margin-top: 28px;
  position: relative;
  z-index: 10; 
}

.slide-button-dashboard{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}














@media screen and (max-width: 1150px) {
  .nav-dashboard{
    width: 80%;
  }
  .app-dashboard {
  overflow-x:  hidden !important;
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
}
  .middle-dashboard {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.training-chart{
  width: 95%;
}
.training-chart-button{
  width: 50%;
}
.training-chart-buttons{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.training-chart-text{
  width: 50%;
}
.training-back{
  width: 180%;
}

.training-plans{
  margin-right: 102px;
  width: 65%;
}

.training-plans-button{
  width: auto;
}


.training-plans-scrolling-list{
  width: 100%;
  height:auto;
}

.training-plans-scrolling-list-item{
  width: 68%;
  margin-right: 15px;
}
.training-plans-scrolling-list-line{

}
.most-popular{
  margin-right: 105px;
  margin-top: 120px;
}
.slide-button-dashboard{
  margin: 100px;
}

.training-chart-line{
  width: 90%;
}
.training-plans-scrolling-list-center{
  margin-top: 30px;
  margin-bottom: 30px;
}
.training-plans-scrolling-list-item{
  width: 80%;
  height: 70%;

}
.training-plan-text{
  width: 100%;
  height: 100%;
}
}